html{margin:0; padding:0; font-size:100%;}
body{max-width:960px; margin:0 auto;padding:0;font-family:'Times New Roman,Sans-Serif';font-size:16px;clear:both;}
h3 {float:left;width:100px; border:1px  solid white;text-align:center;padding:5px;background:#E8E6F0;position:relative;}
