html{margin:0; padding:0; font-size:100%;}
body{max-width:960px; margin:0 auto;padding:0;font-family:'Times New Roman,Sans-Serif';font-size:16px;clear:both;}
.menu{float:left;margin :10px 30px;}
.menu ul li {float:left;width:100px; border:1px  solid white;text-align:center;padding:5px;background:#E8E6F0;position:relative;}
.clear{clear:both;}

ul li{list-style-type:none;}
.menu ul li:hover{background:blue;text-decoration:underline;}
.menu ul li:hover a{color:#fff;}
#a{display:none;color:red}
#b{display:none;}
#c{display:none;}
